{% load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'base2.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="layout">
        <div class="layout__container">
            <div class="layout__container-before"></div>
            <aside class="sidebar">
                <div class="sidebar__header">
                    <a href="/">Ration App</a>
                </div>
                <div class="sidebar__content">
                    <ul class="sidebar__content-menu">
                        <li class={% if page_name == 'Dashboard'%}"sidebar--active"{% endif %}><a href="/">Home</a></li>
                        <li class={% if page_name == 'Add Record'%}"sidebar--active"{% endif %}><a
                                href="{% url 'generate-form'%}">Add
                                Record</a></li>
                        <li class={% if page_name == 'Search Record'%}"sidebar--active"{% endif %}><a
                                href="{% url 'search-record'%}">Ration
                                Status</a></li>
                        </li>
                    </ul>
                </div>
                <div class="sidebar__footer">
                    <a href="https://www.linkedin.com/in/tarunkumar99/" target="_blank">Made by Tarun Kumar</a>
                </div>
            </aside>
            <main class="main">

                <div class="main__header">
                    <div class="main__header-heading">
                        <h1>{{page_name}}</h1>
                    </div>

                    <div class="main__header-user">
                        <a href="users/logout"><span id="logoutBtn">Log Out</span></a>
                    </div>
                </div>

                <div class="main__content">
                    {% block content %}
                    {% endblock %}
                </div>
            </main>

            <div class=" layout__container-after">
            </div>
        </div>

</body>

</html>